/* PROFIL________________________________________________________________  */
#presentation p {
    text-align: justify;
}
#stage {
    color: white;
    background-color: #939597;
    border-radius: 0%;
}
#stage a {
    background-color: white;
    color: #939597;
    padding: 20px;
    margin-top: 2vh;
    font-size: 1.5em;
    width: 100%;
    align-self: center;
    display: flex;
    border: 2px solid white;
}
#stage a:hover {
    background-color: #939597;
    border: 2px solid white;
    color: white;
}

/* LANGAGES __________________________________________________________  */
#langages .langage img {
    width: 150px;
}
#langages .langage {
    position: relative;
}
#langages .langage div {
    position: absolute;
    top: 3%;
    left: 25%;
}
#langages p {
    font-family: sans-serif;
}
#notesCompetences {
    font-family: sans-serif;
}

/* =================================================================================  */

@media screen and (max-width: 768px) {
}