/* CLASSIC MENU ______________________________________________ */
header a {
    text-decoration: none;
    font-size: 1.5em;
    border: solid 2px white;
}
#dl-cv {
    background-color: black;
    color: white;
    border: solid 2px black;
}
#dl-cv:hover {
    background-color: #fff;
    border: solid 2px black;
    color: black;
}
#classicMenu div a:hover {
    border: solid 2px black;
}
nav #activeNavPage {
    background-color:black;
    color: white;
    border: solid 2px black;
}
/* DROPDOWN MENU ____________________________________________ */
header img {
    width: 7vh;
}
#menu a {
    margin: 5px;
}
.hide {
    display: none;
}
.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* PROFIL________________________________________________________________  */
#presentation p {
    text-align: justify;
}
#photo-profil {
    width: 150px;
    border-radius: 100%;
}
/* SOFT SKILLS __________________________________________________________  */

#softSkills h2 {
    cursor: pointer;
}
#softSkills a:hover {
    /* border: none; */
    filter: invert(1);
}
#infoAdapt {
    color: black;
}
/* LANGAGES __________________________________________________________  */
#langages .langage img {
    width: 150px;
    /* background-color:rgb(235, 109, 109); */
}
#langages .langage {
    position: relative;
}
#langages .langage div {
    position: absolute;
    top: 3%;
    left: 15%;
}

/* ////////////////////////////////////////////////////// */
footer img {
    width: 4vh;
}

