@import url(./css/profil.css);
@import url(./css/contact.css);
@import url(./css/parcoursTimeline.css);

@font-face {
    font-family: "Montserrat-Medium";
    src: url(./assets/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat-Light";
    src: url(./assets/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

/* GÉNÉRAL _______________________________________________________ */
h1 {
    color: #1f4c8bff;
    font-family: "Montserrat-Light";
    font-size: 6vh;
}
p {
    font-family: "Roboto";
}
h2, h3, h4 {
    font-family: "Montserrat-Light";
    font-size: 1.5em;
}

/* NAV CLASSIC MENU ______________________________________________ */
header a {
    font-family: "Montserrat-Medium";
    text-decoration: none;
    font-size: 1.75em;
}
#classicMenu div a:hover {
    border-bottom: solid 2px black;
}
nav #activeNavPage {
    background-color:#1f4c8bff;
    color: white;
    border: solid 2px #1f4c8bff;
}

/* NAV DROPDOWN MENU ____________________________________________ */
header img {
    width: 8vh;
}
#menu a {
    margin: 5px;
}
/* toggle fonction avec la classe "visible */
.hide {
    display: none;
}
.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: apparition 0.3s ease-in-out;
}
#dropdownMenu .visible {
    margin-top: 30vh;
    margin-bottom: 50vh;
}
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* PARCOURS __________________________________________________ */
#progressFormation {
    background-color: #1f4c8bff;
}

/* bouton "en savoir plus", formations */
#plusBtn {
    background-color: white;
    color: #939597;
    padding: 20px;
    margin-top: 2vh;
    font-size: 1.5em;
    width: 60%;
    align-self: center;
    display: flex;
    border: 1px solid white;
}
#plusBtn:hover {
    background-color: #939597;
    border: 2px solid white;
    color: white;
}

/* ==========================================================================  */

@media screen and (max-width: 1520px) {
    #plusBtn {
        width: 100%;
    }
}
