@import url(./css/profil.css);
@import url(./css/contact.css);
@import url(./css/parcoursTimeline.css);

@font-face {
    font-family: "Montserrat-Medium";
    src: url(./assets/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat-Light";
    src: url(./assets/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
}
@font-face {
    font-family: "IBM-Regular";
    src: url(./assets/fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Playfair";
    src: url(./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
}

/* GÉNÉRAL _______________________________________________________ */
h1 {
    color: #1f4c8bff;
    font-family: "Montserrat-Light";
}
p {
    font-family: "IBM-Regular";
}
h2, h3 {
    font-family: "Montserrat-Light";
    font-size: 1.5em;
}

/* NAV CLASSIC MENU ______________________________________________ */
header a {
    font-family: "Montserrat-Medium";
    /* font-weight: bold; */
    text-decoration: none;
    font-size: 1.75em;
    border: solid 2px whitesmoke;
}
#dl-cv {
    background-color: #1f4c8bff;
    border: solid 2px #1f4c8bff;
    color: white;
}
#classicMenu div a:hover {
    border-bottom: solid 2px black;
}
nav #activeNavPage {
    background-color:#1f4c8bff;
    color: white;
    border: solid 2px #1f4c8bff;
}

/* NAV DROPDOWN MENU ____________________________________________ */
header img {
    width: 7vh;
}
#menu a {
    margin: 5px;
}
.hide {
    display: none;
}
.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* FOOTER ___________________________________________________ */
footer img {
    width: 4vh;
}

/* PARCOURS __________________________________________________ */
#progressFormation {
    background-color: #1f4c8bff;
}

