<div id="profil" class="pageContent">
    <!-- PRESENTATION  -->
    <div>
        <h1>Présentation</h1>
        <div class="container-fluid d-flex flex-column my-4 p-3 shadow-sm bg-white">
            <div id="presentation" class="d-lg-flex justify-content-between align-items-center">
                <!-- presentation  -->
                <p class="px-2 px-md-5 py-3 fs-5">
                    Autodidacte en <strong class="fw-bolder">HTML/CSS, PHP/MySQL, Linux</strong>, j'ai ensuite acquis
                    les bases et les principes de la programmation orientée objet lors d'une formation sur le <span
                        class="fw-bolder">langage Java</span>. <br>
                    Mon cursus actuel approfondit ces <a class="text-dark fs-4" href="#langages">compétences</a> et en
                    développe de nouvelles. Notamment <strong class="fw-bolder">concevoir</strong> une application,
                    <strong class="fw-bolder">gérer un projet</strong> informatique et <strong
                        class="fw-bolder">développer</strong> une application multi-supports avec les technologies du
                    Web.
                </p>
                <!-- stage  -->
                <div id="stage"
                    class="d-flex flex-column px-3 px-md-5 py-4 ms-lg-4 mb-5 shadow-lg col-lg-5 float-md-end">
                    <p class="fs-4 ">Aujourd'hui, je recherche un <span class="fw-bolder">stage de 2 mois</span> (non
                        rémunéré) qui consolidera mes connaissances et les mettra en pratique dans le quotidien d'une
                        entreprise.</p>
                    <a class="text-decoration-none fw-bold d-flex justify-content-center"
                        href="#contact">Contactez-moi</a>
                </div>
            </div>
            <!-- SOFT SKILLS  -->
            <div id="softSkills" class="d-sm-flex justify-content-around">
                <div id="creatif" class="text-center p-2 col-md-4 mb-5 mb-sm-0">
                    <h1 class="h3 fw-bold">Créatif</h1>
                    <div class="p-2">
                        <p class="fs-5">Je fais aussi des vêtements !</p>
                        <a href="https://www.instagram.com/industrie.de.la.poche/" target="_blank"><img
                                class="p-3 shadow rounded-circle" style="width: 7vh;"
                                src="./assets/logos/social/instagram_icon_153513.svg" alt=""></a>
                    </div>
                </div>
                <div id="adapt" class="text-center p-2 col-md-4 mb-5 mb-sm-0">
                    <h1 class="h3 fw-bold">Adaptable</h1>
                    <div class="p-2 d-flex flex-column justify-content-between align-items-center h-75">
                        <p class="fs-5">Mes expériences le montrent.</p>
                        <a id="infoAdapt" class="text-decoration-none text-dark shadow p-3 fs-5 bg-white"
                            href="#parcours">Jetez-y un oeil !</a>
                    </div>
                </div>
                <div id="rigueur" class="text-center p-2 col-md-4">
                    <h1 class="h3 fw-bold">Perfectible</h1>
                    <div class="p-2">
                        <p class="fs-5">Le code source du site est ici :</p>
                        <a href="https://github.com/thomasbribet" target="_blank"><img class="p-3 shadow rounded-circle bg-white" style="width: 7vh;"
                                src="./assets/logos/social/GITHUB_icon-icons.com_65505.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COMPETENCES LANGAGES   -->
    <div id="langages" class="container-fluid mt-5 py-2 p-0">
        <h1>Compétences *</h1>
        <div class="d-flex justify-content-around flex-wrap bg-white shadow-sm my-4 p-3">
            <div class="langage m-2 col-5 col-md-5 col-lg-4 col-xl-3 d-flex flex-column align-items-center">
                <img src="./assets/logos/lang/html_icon_153514.svg" alt="">
                <div>
                    <span id="html" class="badge rounded-pill"></span>
                </div>
                <p class="fs-5">HTML 5</p>
            </div>
            <div class="langage m-2 col-5 col-md-5 col-lg-4 col-xl-3 d-flex flex-column align-items-center">
                <img src="./assets/logos/lang/css_icon_153522.svg" alt="">
                <div>
                    <span id="css" class="badge rounded-pill"></span>
                </div>
                <p class="fs-5">CSS 3</p>
            </div>
            <div class="langage m-2 col-5 col-md-5 col-lg-4 col-xl-3 d-flex flex-column align-items-center">
                <img src="./assets/logos/lang/javascript_icon_153511.svg" alt="">
                <div>
                    <span id="js" class="badge rounded-pill"></span>
                </div>
                <p class="fs-5">JAVASCRIPT</p>
            </div>
            <div class="langage m-2 col-5 col-md-5 col-lg-4 col-xl-3 d-flex flex-column align-items-center">
                <img src="./assets/logos/lang/data_icon_153327.svg" alt="">
                <div>
                    <span id="sql" class="badge rounded-pill"></span>
                </div>
                <p class="fs-5">SQL</p>
            </div>
            <div class="langage m-2 col-5 col-md-5 col-lg-4 col-xl-3 d-flex flex-column align-items-center">
                <img src="./assets/logos/lang/php_icon_132112.svg" alt="">
                <div>
                    <span id="php" class="badge rounded-pill"></span>
                </div>
                <p class="fs-5">PHP</p>
            </div>
            <div class="langage m-2 col-5 col-md-5 col-lg-4 col-xl-3 d-flex flex-column align-items-center">
                <img src="./assets/logos/lang/brand_java_icon_158844.svg" alt="">
                <div>
                    <span id="java" class="badge rounded-pill"></span>
                    <!--77h en nov-dec 2020, pas de pratique depuis-->
                </div>
                <p class="fs-5">JAVA</p>
            </div>
        </div>
        <p id="notesCompetences" class="py-3">* La notation (<span class="text-success">débutant</span>, <span
                class="text-primary">intermédiaire</span>, <span class="text-warning">à l'aise</span>, <span class="text-danger">confirmé</span> et <span
                class="text-dark">expert</span>) prend en compte le nombre d'heures consacrées à chaque langage. <a class="text-dark" href="https://github.com/thomasbribet" target="_blank">En savoir plus</a>
    </div>


</div>